html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.header{
    background-color:  white;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav ul{
    list-style-type:none ;

}
nav ul li{
    display: inline-block;
    margin: 0 15px;
}
nav ul li a{
    text-decoration: none;
    color: #32de84;
    font-weight: 450 ;
    font-size: 18px;
    transition: 0.4s ease-in-out;
}
nav ul li a:hover{
    color:#0CAFFF;
}
.btn{
    background-color: #0CAFFF;
    color: #32de84;
    padding: 10px 25px;
    border-radius: 30px;
}
.btn:hover{
     color: white;
}
.first-section{
    min-width: 100vw;
}
.first-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 100px;
}
.left-box{
    margin-left: 40px;
    padding: 50px 0;
}

.start{
    text-decoration: none;
    color: #32de84;
    font-weight: 450;
    font-size: 18px;
}
.ready{
  color: #32de84;
  margin-bottom: 8px ;
  font-weight: 600;
}
.left-h1{
    margin-bottom: 30px;
    color:#32de84;
    line-height: 44px;
    font-size: 34px;
}
.features{
    background-color: white;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.boxes{
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}
.boxes h2{
    color: #32de84;
}
.boxes{
    box-shadow: 0px 5px 20px #32de84;
}
.boxes :hover{
    box-shadow: 0px 5px 15px #0CAFFF;
    cursor: pointer;
}
.course{
    padding: 0 0 100px 0;
}
.online-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    color: #32de84;
}
.online-courses{
   background-color: white; 
   height: auto;
   padding: 0 100px;
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.online-courses img{
   width: 250px; 
   border-radius: 8px;
   margin-bottom: 15px;

}
.online-box{
    background-color: white;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgb(48, 196, 124),2px 2px 5px rgb(48, 196, 124);
    transition: 0.3s ease-in-out;
}
.online-box:hover{
    box-shadow: 0px 5px 15px #0CAFFF;
    cursor: pointer;
}
.online-box h2{
    font-size: 18px;
    margin: 5px 0;
    color: rgb(48, 196, 124);
}
.online-box p{
    color: black;
    margin: 5px 0;
}
.course-btn{
    font-size: 14px;
    color: white;
    padding: 8px 20px;
    margin: 7px 0;
}
.bottom-feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 35px 0 0 0;
}
footer{
    height: 60vh;
    background-color: #0CAFFF;
    padding: 0 100px 100px 0;
}
.footer-box{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-links{
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
}
.footer-about{
    width: 40%;
    color: white;
    margin-left: 120px;
}
.footer-links h3{
    margin-bottom: 10px;
    color: white;
    font-size: 17px;
}
.footer-links a{
   color: #32de84; 
   text-decoration: none;
   margin: 6px 0;
   text-align: left;
   font-size: 12px;
   font-weight: 550;
   transition: 0 3s ease-in-out;
}
.footer-links a:hover{
    color: white;

}
.end{
    text-align: center;
    color: black;
}
[class*="col-"] {
    float: left;
    padding: 15px;
  }
  @media only screen and (min-width: 600px) {

    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }  
